/* rect:hover, rect:active {
    outline: 1px solid red;
} */

#paint3_linear_877_55600:hover, #paint3_linear_877_55600:active {
    cursor: pointer;

    /* background-image: url("https://via.placeholder.com/150"); */
}


#paint6_linear_877_55600:hover, #paint6_linear_877_55600:active {
    cursor: pointer;

    /* background-image: url("https://via.placeholder.com/150"); */
}